env:
  contexts:
    - name: "juice-shop-context"
      urls:
        - "https://juice-shop.herokuapp.com"
      includePaths:
        - "https://juice-shop.herokuapp.com/.*"

      authentication:
        method: "json"
        parameters:
          loginUrl: "https://juice-shop.herokuapp.com/rest/user/login"
          loginRequestData: |
            {
              "email": "{%username%}",
              "password": "{%password%}"
            }
        verification:
          method: "poll"
          loggedInRegex: "Logout"
          loggedOutRegex: "Login"

      sessionManagement:
        method: cookie

      users:
        - name: "admin-user"
          credentials:
            username: "admin@juice-sh.op"
            password: "admin"

jobs:
  - type: requestor
    parameters:
      context: "juice-shop-context"
      user: "admin-user"
    requests:
      - url: "https://juice-shop.herokuapp.com/rest/admin/application-configuration"
        method: GET
    tests:
      - name: "Authentication must succeed"
        onFail: FAIL
        statistic: stats.httpstatuscodes.200
        operator: ">"
        value: 0

  - type: spider
    parameters:
      context: "juice-shop-context"
      user: "admin-user"
      maxDuration: 5

  - type: activeScan
    parameters:
      context: "juice-shop-context"
      user: "admin-user"
      maxScanDurationInMins: 5

  - type: report
    parameters:
      template: traditional-html
      reportDir: .
      reportFile: report_html.html

  - type: report
    parameters:
      template: traditional-json
      reportDir: .
      reportFile: report_json.json

  - type: report
    parameters:
      template: traditional-md
      reportDir: .
      reportFile: report_md.md
