body {
    font-family: "Open Sans,Arial,sans-serif" !important;
}
.button {
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    margin-top: 10rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: whitesmoke;
    background-color: rgb(204, 0, 102);
    border: 0;
    cursor: pointer;
}
.redirectButtonContainer {
    display: flex;
    gap: 3rem;
    margin-left: -10rem
}
