name: Frontend CD Workflow

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "ECR Image TAG"
        required: true
  workflow_run:
    workflows: ["Frontend CI Workflow"]
    types:
      - completed        

jobs:
  deploy:
    environment: dev 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Resolve image tag
      id: resolve_image_tag
      run: |
        RUN_NUMBER=$(curl -s \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "Accept: application/vnd.github+json" \
          "https://api.github.com/repos/${{ github.repository }}/actions/workflows/Frontend_CI.yml/runs?status=success&per_page=1" \
          | jq -r '.workflow_runs[0].run_number')
    
        if [ "$RUN_NUMBER" = "null" ] || [ -z "$RUN_NUMBER" ]; then
          echo "No successful build found"
          exit 1
        fi
    
        if [ -n "${{ inputs.image_tag }}" ]; then
          TAG="${{ inputs.image_tag }}"
          echo "Using input tag: $TAG"
        else
          TAG="$RUN_NUMBER"
          echo "Using last successful build tag: $TAG"
        fi
        echo "image_tag=$TAG" >> $GITHUB_OUTPUT      

    - name: Install dependencies
      run: |
        pip install -r cdk/requirements.txt
        npm install -g aws-cdk
        
    - name: CDK Bootstrap
      run: |
        cd cdk
        cdk bootstrap aws://074126659757/$AWS_REGION 
      
    - name: CDK Deploy
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: ${{ github.event.repository.name }}
        IMAGE_TAG: ${{ steps.resolve_image_tag.outputs.image_tag }}
      run: |
        cd cdk
        cdk deploy \
          --require-approval never \
          --parameters ServiceName=frontend-service \
          --parameters ImageUri=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG \
          --parameters ContainerPort=5000 \
          --parameters DesiredCount=2 \
          --parameters VpcId=vpc-0cf3030054f11a3c1 \
          --parameters SubnetIds=subnet-051371540816c8ce3,subnet-0d7d3c3324968cb22,subnet-0d736c809f92c6aca \
          --parameters AlbSecurityGroupId=sg-03c2a5b63177abd8c \
          --parameters ClusterName=ecs-cluster-b25 \
          --parameters AlbArn=arn:aws:elasticloadbalancing:us-east-2:074126659757:loadbalancer/app/frontend-alb/2e20caa60f6e28f0 \
          --parameters ListenerArn=arn:aws:elasticloadbalancing:us-east-2:074126659757:listener/app/frontend-alb/2e20caa60f6e28f0/693c395170258042
