name: Deploy ECS Service (CDK)

on:
  workflow_dispatch:
    inputs:
      image_uri:
        description: "ECR Image URI"
        required: true

jobs:
  deploy:
    environment: dev 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Install dependencies
      run: |
        pip install -r cdk/requirements.txt
        npm install -g aws-cdk

    - name: CDK Deploy
      run: |
        cd cdk
        cdk deploy \
          --require-approval never \
          --parameters ServiceName=frontend-service \
          --parameters ImageUri=${{ inputs.image_uri }} \
          --parameters ContainerPort=5000 \
          --parameters DesiredCount=1 \
          --parameters VpcId=vpc-0cf3030054f11a3c1 \
          --parameters ClusterName=ecs-cluster-b25 \
          --parameters AlbArn=arn:aws:elasticloadbalancing:us-east-2:074126659757:loadbalancer/app/frontend-alb/8b46f4987433b18a \
          --parameters ListenerArn=arn:aws:elasticloadbalancing:us-east-2:074126659757:listener/app/frontend-alb/8b46f4987433b18a/1ce529680302b8f8
